<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-watchconnectivity"
        version="1.3.0">

  <name>WatchConnectivity</name>

  <engines>
    <engine name="cordova" version=">=3.4.1"/>
  </engines>
  <asset src="www/watchconnectivity.js" target="js/watchconnectivity.js"/>

  <js-module src="www/watchconnectivity.js" name="iWatchConnectivity">
    <clobbers target="iWatchConnectivity" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WatchConnectivity">
        <param name="ios-package" value="WCiOS" />
      </feature>
    </config-file>

    <header-file src="src/ios/WCiOS.h" target-dir="WCPlugin"/>
    <source-file src="src/ios/WCiOS.m" target-dir="WCPlugin"/>

    <framework src="WatchConnectivity.framework" />
  </platform>

</plugin>
