<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.github.DVenkatesh.watchconnectivity"
        version="1.2.0">

  <name>WatchConnectivity</name>
  <engines>
    <engine name="cordova" version=">=3.4.1"/>
  </engines>
  <asset src="www/watchconnectivity.js" target="js/watchconnectivity.js"/>
  <js-module src="www/watchconnectivity.js" name="sswc">
    <clobbers target="sswc" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="WatchConnectivity">
        <param name="ios-package" value="WCiOS" />
      </feature>
    </config-file>
    <header-file src="src/ios/WCiOS.h" target-dir="WCPlugin"/>
    <source-file src="src/ios/WCiOS.m" target-dir="WCPlugin"/>
    <framework src="WatchConnectivity.framework" />
  </platform>
</plugin>
